* {
  margin: auto;
}

/* add background image */
body {
  /* background-image: url("https://user-images.githubusercontent.com/104343338/282534034-9bd94a2f-c4be-4d8c-90b3-b0a5cb11513f.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

body {
  /* z-index: 1; */
  width: 100vw;
  height: 100vh;
  background-color: floralwhite;
}

#main-title {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-bottom: 2rem;
}

.vis-network {
  position: relative;
  width: 85vw;
  height: 70vh;
  background-color: white;
}

.vis-network::before {
  content: "Modular Signal Flow";
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  border-radius: 4px;
}

.vis-network::after {
  content: "Solid Line = Input Signal Flow, Dotted Line = Output Signal Flow";
  position: absolute;
  top: 20px;
  left: 0;
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  border-radius: 4px;
}

#mynetwork {
  width: 85vw;
  height: 70vh;
  border: 1px solid lightgray;
}

/* Button Styling for anything labeled "button" */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
