* {
  margin: auto;
}

#main-title {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-bottom: 2rem;
}

.vis-network {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid lightgray;
}

.vis-network::before {
  content: "Modular Signal Flow";
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  border-radius: 4px;
}

.vis-network::after {
  content: "Solid Line = Input Signal Flow, Dotted Line = Output Signal Flow";
  position: absolute;
  top: 20px;
  left: 0;
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  border-radius: 4px;
}

#mynetwork {
  width: 85vw;
  height: 70vh;
  border: 1px solid lightgray;
}
